<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet 'application' %>
    <%= favicon %>
    <title>Web</title>
  </head>
  <body>
    <%= yield %>
    <%= javascript '_fe/web.bundle' %>
  </body>
</html>
